.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1%;
  border-radius: 16px;
}

.xs {
  max-width: 600px;
}

.sm {
  max-width: 900px;
}

.md {
  max-width: 1200px;
}

.lg {
  max-width: 1200px;
}

.xl {
  max-width: 1536px;
}
